<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body style="text-align: center" th:with="user=${session.currentUser}">
<h1>Авторизация</h1>

<nav th:insert="~{main :: nav}"></nav>

<main>
    <form th:action="@{/user/auth}" th:object="${authUser}" method="post">
        <p><input type="email" th:field="*{email}" placeholder="Почта"></p>
        <p><input type="password" th:field="*{password}" placeholder="Пароль"></p>
        <p><input type="submit" value="Авторизироваться"></p>

    </form>

    <p th:if="${isFail}">Неверная почта или пароль.</p>

</main>

</body>
</html>