<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:data-th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body style="text-align: center" th:with="user=${session.currentUser}">
<h1>Авторизация</h1>
<nav>
    <a href="/">
        <input type="submit" value="Главная">
    </a>
    <a th:if="${user != null and user.isAdmin()}" href="/add">
        <input type="submit" value="Добавить товар">
    </a>
    <a th:if="${user == null}" href="/auth">
        <input type="submit" value="Войти">
    </a>
    <a th:if="${user == null}" href="/reg">
        <input type="submit" value="Регистрация">
    </a>
    <a th:if="${user != null}" href="/auth/out">
        <input type="submit" value="Выйти">
    </a>
</nav>

<main>
    <form th:action="@{/auth}" th:object="${authUser}" method="post">
        <p><input type="email" th:field="*{email}" placeholder="Почта"></p>
        <p><input type="password" th:field="*{password}" placeholder="Пароль"></p>
        <p><input type="submit" value="Авторизироваться"></p>

    </form>

    <p th:if="${isFail}">Неверная почта или пароль.</p>

</main>

</body>
</html>