<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body style="text-align: center" th th:with="user=${session.currentUser}">
<h1>Каталог товаров</h1>

<nav th:fragment="nav">
    <a href="/">
        <input type="submit" value="Главная">
    </a>
    <a th:if="${user != null}" th:href="@{/basket}">
        <input type="submit" value="Корзина">
    </a>
    <a th:if="${user != null}" th:href="@{/comment}">
        <input type="submit" value="Оставить отзыв">
    </a>
    <a th:if="${user != null and user.isAdmin()}" th:href="@{/product}">
        <input type="submit" value="Добавить товар">
    </a>
    <a th:if="${user != null and (user.isAdmin() or user.isDispatcher())}" th:href="@{/finalOrder}">
        <input type="submit" value="Заказы">
    </a>
    <a th:if="${user == null}" th:href="@{/user/auth}">
        <input type="submit" value="Войти">
    </a>
    <a th:if="${user == null}" th:href="@{/user/reg}">
        <input type="submit" value="Регистрация">
    </a>
    <a th:if="${user != null}" th:href="@{/user/out}">
        <input type="submit" value="Выйти">
    </a>
</nav>

<p th:if="${added}">Товар был добавлен в корзину.</p>
<p th:if="${isOrdered}">Заказ принят. Ожидайте звонка диспетчера.</p>
<p th:if="${filterIsEmpty}">Таких товаров в магазине нет</p>
<p th:if="${user != null and user.isAdmin()}">Вы администратор</p>
<p th:if="${user != null and user.isDispatcher()}">Вы диспетчер</p>

<form th:action="@{/search}" method="post">
    <p>
        <input type="text" name="string" placeholder="Поиск товаров">
        <input type="submit" value="Поиск">
    </p>
</form>

<main>
    <table style="margin: auto" border="1">
        <tr>
            <th>Номер</th>
            <th><a th:href="@{/id}">ID</a></th>
            <th><a th:href="@{/name}">Название продукта</a></th>
            <th><a th:href="@{/type}">Тип</a></th>
            <th>Описание</th>
            <th><a th:href="@{/price}">Цена</a></th>
        </tr>
        <tr th:each="product , iter : ${productList}">
            <td th:text="${iter.count}"></td>
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.type.name}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.price} + ' $'"></td>
            <td th:if="${user != null  and user.isAdmin()}">
                <a th:href="@{/product/edit/{id}(id=${product.id})}"><input type="submit" value="Редактировать"></a>
            </td>
            <td th:if="${user != null and user.isAdmin()}">
                <a th:href="@{/product/remove/{id}(id=${product.id})}"><input type="submit" value="Удалить"></a>
            </td>
            <td th:if="${user != null}">
                <a th:href="@{/basket/add/{id}(id=${product.id})}"><input type="submit" value="Добавить в корзину"></a>
            </td>
        </tr>
    </table>
</main>

</body>
</html>