<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body style="text-align: center" th:with="user=${session.currentUser}">
<h1>Регистрация</h1>

<nav th:insert="~{main :: nav}"></nav>

<main>
    <form th:action="@{/user/reg}" th:object="${regUser}" method="post">
        <p><input type="text" th:field ="*{name}" placeholder="Имя"></p>
        <p><input type="text" th:field ="*{phoneNumber}" placeholder="Телефон"></p>
        <p> <input type="text" th:field ="*{address}" placeholder="Адрес"></p>
        <p><input type="text" th:field ="*{email}" placeholder="Почта"></p>
        <p> <input type="password" th:field ="*{password}" placeholder="Пароль"></p>
        <p><input type="submit" value="Зарегистрироваться"></p>

        <p style="color: red" th:each="error : ${#fields.allErrors()}" th:text="${error}"></p>

    </form>

    <p th:if="${isExist}">Такая почта уже существует. Введите другую почту</p>

</main>

</body>
</html>